.header {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        align-self: center;
        font-family: "Public Sans", sans-serif;
        font-weight: 100;
        font-size: 48px;
        margin-bottom: 6rem;
    }

    &__access {
        width: 90%;
        position: fixed;
        margin-left: 2rem;
        

        &-button {
            padding: 1rem;
            width: 10rem;
            position: relative;

            

            font-family: "Public Sans", sans-serif;
            font-weight: 200;
            font-size: 16px;

            color: rgb(102, 102, 102);

            background-color: white;
            border: 1px solid rgb(102, 102, 102);;
            border-radius: 20px;
            margin-bottom: 1rem;

            &:hover {
                cursor: pointer;
                font-weight: 400;
                color: #000;
                border: 1px solid #000;
            }

        }

        &-content {
            display: none;
            position: absolute;
            background-color: #fff;

            border: 1px solid rgb(102, 102, 102);
            border-radius: 20px;
            
            width: 16rem;
            padding: 1rem;
            z-index: 1;

            font-family: "Public Sans", sans-serif;
        }

    }
}

.access{
    
    &__fontsize{

        padding-left: 1rem;

        &-title{
            margin-bottom: 1rem;
        }
        
        &-button{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            &-up{
                height: 2rem;
                margin-right: 1rem;
                padding: 0.5rem;

                background-color: transparent;
                border-radius: 20px;
            }
            
            &-down{
                height: 2rem;
                padding: 0.5rem;
                background-color: transparent;
                border-radius: 20px;
            }
        }
    }
}

.show{
    display: block;
}

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    &__line {
        width: 46rem;
        height: 2px;
        background-color: black;
    }
}

@media screen and (max-width: 1500px) {
    .header__title {
        font-size: 72px;
    }
}

@media screen and (max-width: 700px) {
    .header__title {
        font-size: 48px;
    }

    .border {
        visibility: hidden;
    }
}
