.header {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        align-self: center;
        font-family: "Public Sans", sans-serif;
        font-weight: 100;
        font-size: 48px;
        margin-bottom: 6rem;
    }

}


.border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    &__line {
        width: 46rem;
        height: 2px;
        background-color: #969696;
    }
}

@media screen and (max-width: 1800px) {
    .header__title {
        font-size: 72px;
    }
}

@media screen and (max-width: 700px) {
    .header__title {
        font-size: 48px;
        text-align: center;
    }

    .border {
        visibility: hidden;
    }
}
