.main{
    padding: 10rem 20rem;
    font-family: 'Public Sans', sans-serif;
    font-weight: 200;
    text-align: left;
    line-height: 1.5;
}

#EntireText{
    font-size: var(--fontsize) px;
}

.c0{
    font-weight: 400;
    font-size: 30px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.c8{
    font-weight: 400;
    font-size: 30px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 1800px) {
    
    .main{
        padding: 8rem 8rem;
        font-size: $font-tablet;
        line-height: 1.75;
    }

}   

@media screen and (max-width: 700px) {
    
    .main{
        padding: 3rem;
        font-size: $font-mobile;
        line-height: 24px;
    }

}   