.font{
    &__small{
        font-weight: bold;
        font-size: 12px;
    }

    &__big{
        font-weight: bold;
        font-size: 18px;
    }
}

.BG{
    &__black{
        background-color: #000;
        color: #fff;
    }

    &__white{
        background-color: #fff;
        color: #000;
    }

    &__skin{
        background-color: #eccf8b;
    }

    &__gray{
        background-color: #777;
        color: #fff;
    }
}

.hamburgerline1{
    width: 1rem;
    height: 1px;
    background-color: #969696;
    
    // margin-left: 0.45rem;
    margin-bottom: 3px;

    &:last-child{
        margin-bottom: 0;
    }
}

.hamburgerline2{
    width: 1rem;
    height: 1px;
    background-color: #969696;

    margin-bottom: 6px;

    &:last-child{
        margin-bottom: 0;
    }
}

.lineheight{
    &__big{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__small{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.circle1{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 2px 25px 11px rgba(255,255,255,0.75);
}

.circle2{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 2px 25px 11px rgba(255,255,255,0.75);
}


.luminosity{
    &__bright{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #aaa;
    }

    &__dim{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #555;
    }
}

.font_1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.font_2{
    font-family: 'Uchen', serif;
    font-size: 20px;
}
.font_3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.font_4{
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
}